.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  color: #fff;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  background-color: #343a40;
  color: #fff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #fff;
  background-color: #434649;
}

.paginationActive a {
  color: #fff;
  background-color: #ffc107;
}

.paginationDisabled a {
  color: #fff;
  background-color: #343a40;
}
