.b {
  background: url('https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80')
    no-repeat;
  background-size: cover;
}

@media (min-width: 1600px) {
  .b {
    height: 46rem;
  }
}
