/* Configuration */
a {
  color: inherit;
  text-decoration: inherit;
}
a:visited {
  color: inherit;
  text-decoration: inherit;
}

/* Navbar */

.navBar {
  width: 100vw;
  height: 10vh;

  position: absolute;
  top: 8em;

  display: flex;
  flex-direction: row;
  justify-content: center;

  z-index: 2;
}

.logo {
}

.navegationContainer {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  margin-top: 2%;
  text-decoration: underline;
}

/* Layout */

.layout {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  z-index: 0;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(88, 159, 221, 1) 48%,
    rgba(0, 189, 255, 1) 100%
  );
}

.infoContainer {
  flex: 5;

  position: relative;
  -webkit-transform: translate(20em, -1em);
  -moz-transform: translate(20em, -1em);
  transform: translate(20em, -1em);
}

.callToActionContainer {
  display: flex;
  justify-content: center;

  flex: 7;
}

.callToAction {
  position: relative;

  background: url(../../assets/img/png/landing-cloud.png);
  width: 30em;
  height: 25em;
  background-size: cover;
}

.text {
  position: absolute;
  font-size: 1.5em;
  top: 7em;
  left: 5em;
}

.buttonLogin {
  font-size: 1.5em;
  text-decoration: underline;
  /* position: absolute;
  top: 10em;
  left: 8.5em; */
  outline: none;
  border: inherit;
  background-color: white;
}

.callToActionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 15em;
  right: 11em;
}

/* Animation */
.cloudContainer {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

section .cloud {
  position: absolute;

  left: 0;
  top: 5em;

  background: url(../../assets/img/png/landing-cloud.png);
  background-repeat: no-repeat;
  animation: animate-cloud-reverse 30s linear infinite;
  z-index: -1;

  width: 100vw;
  height: 300px;
}

section .cloud2 {
  position: absolute;

  left: 0;
  top: 10em;

  background: url(../../assets/img/png/landing-cloud.png);
  background-repeat: no-repeat;
  animation: animate-cloud 30s linear infinite;
  z-index: -1;
  opacity: 0.4;
  width: 100vw;
  height: 300px;
}

section .cloud3 {
  position: absolute;

  left: 0;
  top: 0em;

  background: url(../../assets/img/png/landing-cloud.png);
  background-repeat: no-repeat;
  animation: animate-cloud2 50s linear infinite;
  z-index: -1;
  opacity: 0.4;
  width: 100vw;
  height: 300px;
}

section .cloud4 {
  position: absolute;

  left: 0;
  top: 20em;

  background: url(../../assets/img/png/landing-cloud.png);
  background-repeat: no-repeat;
  animation: animate-cloud-reverse2 30s linear infinite;
  z-index: -1;
  opacity: 0.5;
  width: 100vw;
  height: 300px;
}

section .wave {
  position: absolute;

  bottom: 0;
  left: 0;

  background: url(../../assets/img/png/wave.png);
  animation: animate 10s linear infinite;

  width: 100vw;
  height: 143px;
}

section .wave:before {
  content: '';
  width: 100vw;
  height: 143px;
  background: url(../../assets/img/png/wave.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  animation: animate-reverse 10s linear infinite;
}

section .wave:after {
  content: '';
  width: 100vw;
  height: 143px;
  background: url(../../assets/img/png/wave.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  animation-delay: -5s;
  animation: animate 20s linear infinite;
}

.launching {
  -webkit-animation: launching 3s ease;
  animation: launching 3s ease;
}

@keyframes launching {
  100% {
    -webkit-transform: translate(25em, -20em);
    -moz-transform: translate(25em, -20em);
    transform: translate(25em, -20em);
  }
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@keyframes animate-cloud {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: 1660px;
  }
}

@keyframes animate-cloud2 {
  0% {
    background-position: -1500px;
  }
  100% {
    background-position: 1660px;
  }
}

@keyframes animate-cloud-reverse {
  0% {
    background-position: 1960px;
  }
  100% {
    background-position: -1000px;
  }
}

@keyframes animate-cloud-reverse2 {
  0% {
    background-position: 1660px;
  }
  100% {
    background-position: -1000px;
  }
}

@keyframes animate-reverse {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}
